!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title ToxModel
    %link{:rel=>'stylesheet', :href=>'stylesheets/style.css', :type => "text/css"}       

  %body
    .headline
      %h1 ToxModel
      %img{:src => "/opentox_logo.png", :alt => "OpenTox"}
         
    .index
      %ul
        %li{:class => ("selected" if /create/ =~ request.path )}
          = link_to "Create", "/create"
        %li{:class => ("selected" if /predict/ =~ request.path )}
          = link_to "Predict", "/predict"
        %li{:class => ("selected" if /tasks/ =~ request.path )}
          = link_to "Tasks", "/tasks"
        %li{:class => ("selected" if /about/ =~ request.path )}
          = link_to "About", "/about"

    .content

      - if flash[:notice]
        .notice
          = flash[:notice]

      = yield

    .footer
      &copy;
      %a{:href => 'http://www.in-silico.ch'} in silico toxicology
      2009, powered by
      %a{:href => 'http://www.opentox.org'} OpenTox

