!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title ToxCreate
    %script{:type => "text/javascript", :src  => "javascripts/jquery.js"}
    %script{:type => "text/javascript", :src  => "javascripts/toxcreate.js"}
    %link{:rel=>'stylesheet', :href=>'stylesheets/style.css', :type => "text/css"}      

  %body
    .logo= image_tag "/ToxCreate_rgb_72.png", :alt => 'ToxCreate', :align => "right"
         
    .index
      %ul
        %li{:class => ("selected" if /\/create/ =~ request.path )}
          = link_to "Create", "/create"
        %li{:class => ("selected" if /models/ =~ request.path )}
          = link_to "Inspect", "/models"
        %li{:class => ("selected" if /predict/ =~ request.path )}
          = link_to "Predict", "/predict"
        %li{:class => ("selected" if /about/ =~ request.path )}
          = link_to "About", "/about"

    .content

      - if `hostname`.match(/ot-test|ot-dev/)
        .notice 
          This service is for testing purposes only - once a week all models will be deleted. Please send bug reports and feature requests to our 
          %a{:href => 'http://github.com/helma/opentox-toxmodel/issues'} issue tracker.

      - if flash[:notice]
        %p
        .notice#flashnotice
          = flash[:notice]

      = yield

    .footer
      &copy;
      %a{:href => 'http://www.in-silico.ch'} in silico toxicology
      2009-2010, powered by
      %a{:href => 'http://www.opentox.org'} <span style="color:#5D308A;font-family:arial,sans-serif,helvetica;letter-spacing:-1px;">Open</span><span style="color:#000;font-family:arial,sans-serif,helvetica;font-weight:bold;letter-spacing:-1px;position:relative;">Tox</span>
