!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    - if @refresh
      %meta{'http-equiv' => "refresh", :content => "15"}
    %title ToxCreate
    %link{:rel=>'stylesheet', :href=>'stylesheets/style.css', :type => "text/css"}      

  %body
    = image_tag "/ToxCreate_rgb_72.png", :alt => 'ToxCreate'
         
    .index
      %ul
        %li{:class => ("selected" if /create/ =~ request.path )}
          = link_to "Create", "/create"
        %li{:class => ("selected" if /models/ =~ request.path )}
          = link_to "Inspect", "/models"
        %li{:class => ("selected" if /predict/ =~ request.path )}
          = link_to "Predict", "/predict"
        %li{:class => ("selected" if /about/ =~ request.path )}
          = link_to "About", "/about"

    .content

      .notice 
        This service is for testing purposes only - once a week all models will be deleted. Please send bug reports and feature requests to our 
        %a{:href => 'http://github.com/helma/opentox-toxmodel/issues'} issue tracker.

      - if flash[:notice]
        %p
        .notice
          = flash[:notice]

      = yield

    .footer
      &copy;
      %a{:href => 'http://www.in-silico.ch'} in silico toxicology
      2009-2010, powered by
      %a{:href => 'http://www..opentox.org'} OpenTox
