%p= link_to "New prediction", "/predict"
.lazar-predictions

  -# explanations
  = haml :lazar_algorithm, :layout => false
  = haml :confidence, :layout => false
  = haml :similarity, :layout => false
  = haml :significant_fragments, :layout => false
  = haml :training_data, :layout => false

  %a{:name => "prediction"}
  %table
    %thead
      %tr
        %th= @title.gsub(/_lazar_.*$/,' ').capitalize
        %th= toggle_link("#lazar_algorithm","Prediction")
        %th= toggle_link("#confidence","Confidence")
        %th Supporting information

      %tr
        %td.image= compound_image(@compound,@features)
        %td= activity_markup(@activity)
        %td= sprintf('%.03g', @confidence.to_f.abs) if @confidence
        %td
          %ul
            %li
              %a{:href => "#prediction", :id => "show_names"} Names and synonyms
              :javascript
                $("a#show_names").click(function () {
                  $("#compound_names").load("#{File.join("compound",@compound.inchi)}");  
                  $("tr#names").toggle();  
                });
            %li= toggle_link("#fragments","Significant fragments")
            -# This does not work, ask nina/vedrin
            -# %li
              %a{:href => "http://ambit.uni-plovdiv.bg:8080/ambit2/query/structure/?search=#{@compound.smiles}"} Ambit data
            -# %li
              %a{:href => "http://www.ncbi.nlm.nih.gov/sites/entrez?cmd=PureSearch&db=pccompound&term=#{URI.encode('"'+@compound.inchi+'"[InChI]')}"}  PubChem data
              (external)
            -# %li
              %a{:href => "http://chem.sis.nlm.nih.gov/chemidplus/direct.jsp?result=advanced&inchi=#{URI.encode @compound.inchi}"} ToxNet data
            -#http://chem.sis.nlm.nih.gov/chemidplus/direct.jsp?result=advanced&regno=000143157

      %tr#names{ :style => "display: none;" }
        %td{:colspan => '4'}
          %a{:name => 'names'}
          = hide_link('#names')
          #compound_names
      %tr#fragments{ :style => "display: none;" }
        %td{:colspan => '4'}
          = hide_link('#fragments')
          = haml :feature_table, :locals => {:features => @features}, :layout => false

    %tbody#neighbors
      = haml :neighbors, :locals => {:neighbors => @neighbors, :page => @page},  :layout => :false
