%p Get an overview about ToxCreate models. This page is refreshed every 15 seconds to update the model status.
- @models.each do |model|
  %h2
    = model.name
  %dl
    %dt Status:
    %dd
      = model.status
      (
      %a{:href => url_for("/model/#{model.id}/delete"), :onclick => 'return confirm("Are you sure?");'} delete
      )
    %dt Started:
    %dd= model.created_at
    %dt Details:
    %dd= model.messages
    %dt URI:
    %dd
      %a{:href => model.uri, :accept => "application/rdf+xml"} #{model.uri}
    %dt Validation:
    %dd
      %em
        to be added

