-# :javascript
  function deletemodel(uri) {
    var xmlhttp;
    return confirm("Are you sure?");
    xmlhttp=new XMLHttpRequest();
    xmlhttp.open('DELETE',uri,false)
    xmlhttp.send(null);
  }

%p Get an overview about ToxCreate models. This page is refreshed every 15 seconds to update the model status.
- @models.each do |model|
  - uri = url_for("/model/#{model.id}", :full)
  %h2
    = model.name
  %dl
    %dt Status:
    %dd
      = model.status
      (
      %a{:href => url_for("/model/#{model.id}/delete"), :onclick => 'return confirm("Are you sure?");'} delete
      )
    %dt Started:
    %dd= model.created_at
    %dt Details:
    %dd= model.messages
    %dt Download:
    %dd
      - if model.uri
        -# %a{:href => model.uri, :accept => "application/x-yaml"} yaml
        %a{:href => model.uri, :accept => "application/rdf+xml"} OWL-DL model representation
        %em  (experts only)
      - else
        %em model under construction
        = image_tag("/snake_transparent.gif")
    %dt Validation:
    %dd
      - if model.validation_uri
        - uri = File.join(model.validation_uri, 'statistics')
        - yaml = RestClient.get(uri).to_s
        - v = YAML.load(yaml)
        %dl
          %dt Correct predictions:
          %dd
            = v[:classification_statistics][:percent_correct].to_s
            = '%'
      - else
        %em under construction
        = image_tag("/snake_transparent.gif")
        =# model.validation_task_uri
      

