&rarr;
%a{ :href => "/#{params[:id]}" } Enter structure
&rarr; Prediction
%hr

%h1
  = @lazar.endpoint.sub(/^.*[#|\/](.*)$/,'\1')

Endpoint:
= @lazar.endpoint
%p
  Model:
  = File.join(@@config[:services]["opentox-model"],params[:id])
%p
  Compound:
  = @compound.uri

.prediction
  %table
    %tr
      %th Structure
      %th Measured activity
      %th
        %br Prediction
        %br (Confidence)
    %tr
      %td
        %img{:src => "http://cactus.nci.nih.gov/chemical/structure/#{URI.encode(@compound.smiles)}/image", :alt => "#{@compound.smiles}"}
      %td
        = '-' if @measured_activity.nil?
        = @measured_activity
      %td
        - if @classification.nil?
          = '-' if @classification.nil?
        - else
          %br= @classification 
          %br
            (
            = sprintf("%.3f", @confidence.to_s.to_f)
            )

-
-#
-#    %tr
-#      %th{:colspan => 4} Neighbors
-#    %tr
-#      %th Structure
-#      %th Similarity
-#      %th Measured activity
-#
-#    - @lazar['neighbors']['neighbor'].each do |neighbor|
-#      %tr
-#        %td
-#          %img{:src => "http://cactus.nci.nih.gov/chemical/structure/#{URI.encode(neighbor['smiles'])}/image", :alt => "#{neighbor['smiles']}"}
-#        %td=# neighbor['similarity']
-#        %td=# neighbor['activity']

-# %a{:href => "/neighbors", :lazar => @lazar } Show neighbors
