%p
  = link_to "New prediction", "/predict"
.predictions
  %table
    %tr
      %th
        %img{:src => @compound.image_uri, :alt => @compound.smiles}
        %br= @identifier
      - @predictions.each do |p|
        %td
          %b
            = p[:title] + ":"
            = p[:prediction]
          %br
            Confidence:
            = p[:confidence]
