%p
  = link_to "New prediction", "/predict"
.predictions
  %table
    %tr
      %th{:colspan => @predictions.size+1}
        = @identifier
    %tr
      %th
        %img{:src => @compound.image_uri, :alt => @compound.smiles}
      - @predictions.each do |p|
        %td
          %b
            = p[:title] + ":"
          - if p[:measured_activities]
            %br
            - p[:measured_activities].each do |a|
              - if activity(a) == 'active'
                .active
                  = activity(a)
              - elsif activity(a) == 'inactive'
                .inactive
                  = activity(a)
            %br (training data)
          - else
            - if activity(p[:prediction]) == 'active'
              .active
                = activity(p[:prediction])
            - elsif activity(p[:prediction]) == 'inactive'
              .inactive
                = activity(p[:prediction])
            - else
              %br
                %em= p[:prediction]
            - if p[:confidence]
              %br
                = "(confidence: #{sprintf('%.03f', p[:confidence].to_f.abs)})"
