%p
  = link_to "New prediction", "/predict"
.predictions
  %table
    %tr
      %th{:colspan => @predictions.size+1}
        = @identifier
    %tr
      %td
        %img{:src => @compound.image_uri, :alt => @compound.smiles}
      - @predictions.each do |p|
        %td
          %b
            = p[:title] + ":"
          - if p[:measured_activities]
            %br
            - p[:measured_activities].each do |a|
              = activity_markup(a)
            %br
              (
              %a{:href => "#", :id => "linkTrainingData#{p.object_id}"} Measured activity
              :javascript
                $("a#linkTrainingData#{p.object_id}").click(function () {
                  $("dl#training_data").toggle();  
                });
              )

          - else
            = activity_markup(p[:prediction])
            - if p[:confidence]
              %br
                (
                %a{:href => "#", :id => "linkConfidence#{p.object_id}"} Confidence
                = ": #{sprintf('%.03g', p[:confidence].to_f.abs)}"
                :javascript
                  $("a#linkConfidence#{p.object_id}").click(function () {
                    $("dl#confidence").toggle();  
                  });
                )
            %br
              %form{:name => "form", :action => url_for('/lazar'), :method => "post", :enctype => "multipart/form-data" }
                %input{:type => :hidden, :name => :compound_uri, :value => @compound.uri}
                %input{:type => :hidden, :name => :model_uri, :value => p[:model_uri]}
                %input{ :type => "submit", :value => "Details"}

= haml :confidence, :layout => false
= haml :training_data, :layout => false
