%dl{:id => "model_validation_#{model.id}"}
  %dt
    Validation:
    %input{ :id => "model_validation_#{model.id}", :type => "hidden", :value => "#{model.validation_status}", :class => "model_validation" }
    - if model.validation_report_uri
      %a{:href => model.validation_report_uri, :target => "_blank"} (more details)
  %dd
    - if model.validation_uri
      - v = model.regression_validation
      - if v == "Service offline"
        = v
      - else
        %dl
          %dt Number of predictions:
          %dd= v[:n]
        %p= v.inspect
    - else
      = image_tag("/snake_transparent.gif") if model.validation_status == "Running"
      %a{:href => model.validation_task_uri} #{model.validation_status}
