&rarr; Enter structure

%h1
  = @model['name'].capitalize.gsub(/_/,' ')
  prediction

%a{ :href => "/validation/#{params[:id]}" } Validation results

%a{:href => "/delete/#{params[:id]}"} Delete model

%p= @message if @message

%form{ :action => "/#{params[:id]}", :method => "post" }

  %p Enter a chemical identifier (e.g. name, CAS number, Smiles, InChI, InChI key):
  %input{:type => "text", :name => "name"}
  %input{ :type => "submit", :value => "Predict"}
