%table
  %tr
    %th Task
    %th Resource
    %th Status
    %th Started
    %th Finished
  - @tasks.each do |t|
    -# This is inefficient - make only 1 query to the task service and save variables
    %tr
      %td= t.uri
      %td= t.resource
      %td= t.status
      %td= t.created_at
      %td= t.finished_at
      -# %td
        - case t.status
        - when /created|started/
          %form{:name => "cancel", :action => url_for("/task/cancel"), :method => 'post'}
            %input{:type => 'hidden', :name => 'uri', :value => t.uri}
            %input{:type => "submit", :value => "Cancel"}
